body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

#menu-container, #cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item, .cart-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.menu-item h2, .cart-item h2 {
    font-size: 18px;
}

.price {
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#station-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.station-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.station-card h2 {
    font-size: 18px;
}

.station-card p {
    margin: 5px 0;
}

.station-card .status {
    font-weight: bold;
}

/* .station-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.station-card button:hover {
    background-color: #0056b3;
} */

form {
    margin: 20px auto;
    text-align: center;
}

#orderResults {
    margin: 20px auto;
}